<div class="stolen-frosty span4 text-center offset5">

	<h1 class="stolen-h1">
		Please Update the form
	</h1>
	<%= simple_form_for @pic do  |f| %>
		<%= f.input :lesson, label: 'Enter your Lesson Number', placeholder: 'Lesson Number'%>
		<%= f.input :emotion, label: 'What was your emotion', placeholder: 'example, stoked, happy, AHHHHH!!'%>
		<%= f.input :learned, label: 'And what did you leave', placeholder: 'Give as much details as possible'%>

		<%= submit_tag 'Submit', :class => 'btn btn-success btn-large' %>
	<% end %>
</div>